nav{
    background-color: #FBC5C7
}
nav a{
    color: #340602;
    font-size: 30px; 
    text-align: center;
    text-decoration: none;
    font-weight: 500;
}
nav a img{
    height: 60px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;                
    list-style: none;        
    padding: 0;
    margin: 0;
}

footer{
    background-color: #FBC5C7;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer a{
    text-decoration: none;
    color: white;
    
}